<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <style>
          .content{
              font-family: 'Times New Roman', Times, serif;
              font-size: large;
          }
          footer{
              background-color: rgb(183, 183, 183);
          }
      </style>
  </head>
  <body style="margin: 0px;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/">BKPH Hospital</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Views
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/patient">Patient</a>
                  <a class="dropdown-item" href="/doctor">Doctor</a>
                  <a class="dropdown-item" href="/nurse">Nurse</a>
                  <a class="dropdown-item" href="/appointment">Appointment</a>
                  <a class="dropdown-item" href="/room">Room</a>
                  <a class="dropdown-item" href="/medication">Medication</a>
                  <a class="dropdown-item" href="/department">Department</a>
                  <a class="dropdown-item" href="/procedure">Procedure</a>
                  <a class="dropdown-item" href="/undergoes">Undergoes</a>
                  <a class="dropdown-item" href="/prescribes">Prescribes</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </nav>

      <div>
          <div class="container">
            <p style="text-align: center;font-weight: bolder; font-size: xx-large">About BKPH Hospital<p>
            <p class="content">Welcome to BKPH Hospital, where we are dedicated to providing compassionate, high-quality medical care to our patients. We have been serving the community for over 50 years and are proud to be a trusted healthcare provider for generations of families.</p>
            <p class="content">Our state-of-the-art facility is equipped with the latest medical technology, and our team of skilled physicians, nurses, and staff are committed to providing personalized care to each and every patient. We offer a wide range of medical services, including general surgery, cardiology, neurology, orthopedics, and more.</p>
            <p class="content">At BKPH Hospital, we believe that healthcare should be accessible to everyone. We work with a variety of insurance providers and offer financial assistance to those in need. We also have a commitment to environmental sustainability, and have implemented green initiatives throughout our facility.</p>
            <p class="content">Thank you for choosing BKPH Hospital for your healthcare needs. We look forward to serving you and your family.</p>
          </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

  <footer>
      <hr style="background-color: black;margin-top: 7rem;margin-bottom: 2rem;">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h3>Contact Us</h3>
            <p>BKPH Hospital<br>
              123 Main Street<br>
              City, State 12345<br>
              Phone: (123) 456-7890<br>
              Email: info@bkphhospital.com</p>
          </div>
          <div class="col-md-2">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">&copy; 2023 BKPH Hospital. All Rights Reserved.</p>
        </div>
      </div>
  </footer>
</html>